<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.serializers.JsonSerializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.serializers.JsonSerializerPluginWithGeometry</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.deserializers.DeserializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.deserializers.JsonDeserializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>

	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.step.serializer.Ifc2x3tc1StepSerializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.step.serializer.Ifc4StepSerializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>

	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.xml.serializer.IfcXml2x3tc1SerializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.xml.serializer.IfcXml4SerializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>

	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.deserializers.DeserializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.xml.deserializer.Ifc4XmlDeserializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.deserializers.DeserializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.xml.deserializer.Ifc2x3tc1XmlDeserializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>

	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.deserializers.DeserializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.step.deserializer.Ifc4StepDeserializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.deserializers.DeserializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.step.deserializer.Ifc2x3tc1StepDeserializerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>

	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.modelcompare.ModelComparePlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.compare.NameBasedModelComparePlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.modelcompare.ModelComparePlugin</interfaceClass>
		<implementationClass>org.bimserver.ifc.compare.GuidBasedModelComparePlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
</PluginDescriptor>