<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.modelmerger.ModelMergerPlugin</interfaceClass>
		<implementationClass>org.bimserver.merging.IntelligentNameBasedModelMergerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.modelmerger.ModelMergerPlugin</interfaceClass>
		<implementationClass>org.bimserver.merging.IntelligentGuidBasedModelMergerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.modelmerger.ModelMergerPlugin</interfaceClass>
		<implementationClass>org.bimserver.merging.BasicModelMergerPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
</PluginDescriptor>