body {
	font-size: 12px;
	color: #666666;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

body.default {
	margin: 0px;
	background-image: url("../images/head_bg.jpg");
	background-repeat: repeat-x;
}

fieldset {
	border: 1px solid #CCCCCC;
	padding: 5px;
	margin-bottom: 5px;
}

img
,
div
,
a
,
{
behavior


:

 

url


(
iepngfix


.htc


)
}
ul {
	line-height: 22px;
	margin-top: 0px;
}

p {
	line-height: 22px;
	margin-top: 0px;
}

h1 {
	font-size: 20px;
	color: #0C356A;
	margin: 0px 0px 10px 0px;
}

h2 {
	font-size: 14px;
	color: #0C356A;
	margin: 0px 0px 10px 0px;
}

h3 {
	font-size: 12px;
	color: #0C356A;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
}

ul {
	
}

li {
	
}

a {
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;
	color: #003366;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

.tabletitle {
	background-color: #CCDDEE;
}

table.formtable {
	margin: 0px;
	border-spacing: 0px;
}

table.formtable td.indent {
	padding-left: 20px;
}

table.formtable td {
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 6px;
}

table.formtable td.first {
	padding-right: 20px;
	width: 209px;
}

table.formatted {
	border-collapse: collapse;
	border: 0px;
	margin: 0px;
	padding: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}

table.formatted td {
	text-align: left;
	border: 1px solid gray;
	border-color: #AAAAAA;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

table.formatted a {
	text-decoration: none;
	font-weight: bold;
}

table.formatted th {
	text-align: left;
	color: #ffffff;
	font-size: 10px;
	font-style: normal;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #336699;
	border-style: 1px solid gray;
}

.push {
	height: 61px;
}

.header {
	height: 120px;
}

.menu {
	color: white;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
	border-left: 1px solid white;
	text-decoration: none;
	padding: 5px;
}

.menu:hover {
	background-color: #0f1031;
}

.endmenu:hover {
	background-color: #0f1031;
}

.menubar {
	position: relative;
	padding: 65px 0px 0px 0px;
	text-align: right;
	float: right;
}

.headerimage {
	float: left;
	border: 0px;
}

.loginwrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 350px;
	height: 250px;
	margin-top: -125px;
	margin-left: -175px;
	text-align: center;
}

.sitewrapper {
	margin: 0 auto;
	width: 960px;
	padding: 5px;
	margin-bottom: 60px;
}

.main {
	clear: both;
	text-align: left;
	background-image: url("../images/left_bg.jpg");
	background-repeat: no-repeat;
	min-height: 400px;
	padding: 5px 0 30px 40px;
	float: left;
	padding-left: 10px;
	width: 960px;
}

.sidebar {
	float: left;
	padding: 50px 0px 0px 0px;
	margin-right: 2px;
	margin-left: -20px;
	width: 150px;
}

.sidebar li {
	padding: 8px;
	margin-left: -10px;
	font-size: 14px;
	list-style-type: none;
	border-bottom: 1px solid #DCDDDE;
	border-top: 1px solid #FFFFFF;
}

.content {
	margin-left: 150px;
}

.main h1 {
	color: #000000;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode",
		Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
}

.infotable .firstcolumn {
	min-width: 240px;
}

a.rss {
	padding-left: 18px;
	text-decoration: none;
	font-weight: normal;
	font-size: small;
	background: transparent url(../images/feed-icon-14x14.png) no-repeat
		center left;
}

div.error {
	margin-bottom: 1em;
	padding: 3px;
	color: red;
	background-color: #FFEBE8;
	border: 1px solid #C00;
}

div.warning {
	margin-bottom: 1em;
	padding: 5px;
	background-color: #FFE69E;
	border: 1px solid #C5832D;
	height: 40px;
}

div.warning img {
	float: left;
}

div.info {
	margin-bottom: 1em;
	padding: 3px;
	color: FFE572;
	background-color: #FFEFE1;
	border: 1px solid #FCECD8;
}

div.success {
	margin-bottom: 1em;
	padding: 3px;
	color: FFE572;
	background-color: lightYellow;
	border: 1px solid #E6DB55;
}

div.none {
	margin-bottom: 1em;
}

div.loginwindow {
	margin-left: 0px;
	text-align: left;
}

tr.deleted {
	background-color: #FFCCCC;
	display: none;
}

tr.checkinrights {
	background-color: #FFEEEE;
}

tr.tagged {
	background-color: #D2E1FA;
}

.checkbox {
	cursor: pointer;
}

/* ------- Guide (breadcrumb & user_nav) ------- */
#guide {
	line-height: 1em;
	height: 42px;
	width: 810px;
	background: url("../images/bc-bg-corners.gif") no-repeat;
}

#guide ul,#guide ol {
	margin-top: 0px;
	float: left;
	list-style: none;
	width: 90%;
}

#guide a,#guide span,#breadcrumb li.title span,#breadcrumb li.title a {
	display: block;
	float: left;
	text-decoration: none;
	padding: 0.95em 10px;
	color: #666;
}

#guide a:hover {
	text-decoration: none;
	color: #0085CF;
	cursor: pointer;
}

#breadcrumb {
	float: left;
}

#breadcrumb li {
	float: left;
	text-indent: 0;
	white-space: nowrap;
}

#breadcrumb a,#breadcrumb li.title span,#breadcrumb li.title a {
	margin-top: 1px;
	padding-right: 16px;
	padding-left: 8px;
	background: url("../images/chevron.png") 100% 50% no-repeat !important;
	background-image: url("../images/chevron.png");
}

#breadcrumb li.title span,#breadcrumb li.title a {
	background: none !important;
}

#breadcrumb span.separator {
	display: none;
}

#guide #breadcrumb #bc-home a {
	width: 40px;
	margin-left: -38px;
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	text-indent: -9999em;
}

#user_nav {
	margin-right: -2px;
	position: relative;
	float: right;
	min-height: 2.95em;
}

#user_nav ul {
	padding-right: 1px;
	float: left;
}

#user_nav a {
	padding-top: 2px;
	padding-bottom: 2px;
}

.summarygroup {
	font-weight: bold;
}

.summaryitem {
	margin-left: 24px;
}

.maintable .seperator {
	border: 0px solid blue;
	height: 20px;
	background-color: white;
}

.cleantable {
	border: none;
}

table.cleantable td {
	border: none;
}

.linkactive {
	font-weight: bold;
}

.compile_error {
	color: red;
}

.link {
	cursor: pointer;
}

label {
	cursor: pointer;
}

.blockinvisible {
	display: none;
}

.lastrevision {
	font-weight: bold;
}

a.projectTreeItem {
	font-size: small;
	font-weight: normal;
	text-decoration: none;
}

a.activeTreeItem {
	font-weight: bold;
}

a.norightsTreeItem {
	background-color: #FEE;
}

ul.projectTree, ul.projectTree ul {
	list-style-type: none;
	background: url(/images/vline.png) repeat-y;
	margin: 0;
	padding: 0;
}

ul.projectTreeFirst ul.projectTree {
	margin-left: 10px;
}

ul.projectTree ul {
	margin-left: 10px;
}

ul.projectTree li {
	margin: 0;
	padding: 0px 12px;
	line-height: 20px;
	background: url(/images/node.png) no-repeat;
	color: #369;
	font-weight: bold;
	border-bottom: none;
	border-top: none;
}

ul.projectTree li.last {
	background: url(/images/lastnode.png) no-repeat;
}

p.explain {
	font-size: xx-small;
}

.downloadResult {
	width: 80px;
	height: 14px;
}

.enabledPlugin, .enabled {
	background-color: #AAFFAA;
}

.disabledPlugin, .disabled {
	background-color: #FFAAAA;
}

.initialhide {
	display: none;
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.buttons {
	bottom: 0;
	position: absolute;
	right: 0;
	left: 0;
	padding: 10px;
}

.resultsarea {
	color: red;
	padding: 5px;
}

.servicediv {
	padding-top: 10px;
}

.servicediv label {
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
}

.servicediv label span {
	display: inline-block;
	width: 150px;
}