<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="store"
            class="org.bimserver.models.store.StorePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="log"
            class="org.bimserver.models.log.LogPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///buildingsmart.ifc.ecore"
            class="org.bimserver.models.ifc2x3.Ifc2x3Package"/>
   </extension>

</plugin>
