<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<showVersionUpgradeAvailable>false</showVersionUpgradeAvailable>
	<registrationAddition></registrationAddition>
	<smtpServer>smtp.xs4all.nl</smtpServer>
	<sendConfirmationEmailAfterRegistration>true
	</sendConfirmationEmailAfterRegistration>
	<emailSenderAddress>no-reply@bimserver.org</emailSenderAddress>
	<databaseLocation>database</databaseLocation>
	<enabledExportTypes>IFC, IFCXML, CITYGML, COLLADA, KML, KMZ
	</enabledExportTypes>
	<allowSelfRegistration>false</allowSelfRegistration>
	<autoTestClashes>false</autoTestClashes>
	<useSecondEngineJvm>true</useSecondEngineJvm>
	<intelligentMerging>true</intelligentMerging>
	<allowUsersToCreateTopLevelProjects>false
	</allowUsersToCreateTopLevelProjects>
	<customLogoAddress>http://www.bimserver.org/version/defaultlogo.gif
	</customLogoAddress>
</settings>