<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c - %m%n" />
		</layout>
	</appender>
	<appender name="File" class="org.apache.log4j.FileAppender">
		<param name="File" value="[willbeoverridden]" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c - %m%n" />
		</layout>
	</appender>
	<logger name="org.quartz">
		<level value="error" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<logger name="org.apache.cxf">
		<level value="error" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<logger name="org.springframework">
		<level value="ERROR" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<logger name="org.mortbay">
		<level value="error" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<logger name="org.eclipse.jetty">
		<level value="error" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<root>
		<priority value="INFO" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</root>
</log4j:configuration>