<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.clashdetection.ClashDetectionServicePlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.clashdetection.ClashDetectionServiceJsonVisualizationPlugin</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
</PluginDescriptor>