a {
	cursor: pointer;
}

.spaced {
	margin: 9px;
}

.sidespan .tree ul li {
	list-style: none;
}

.sidespan {
	overflow: hidden;
}

.container {
	padding: 10px;
}

.initialhide, .btn.initialhide {
	display: none
}

table .header {
	font-weight: bold;
}

.login .span5 {
	padding-top: 50px;
	width: 500px;
}

.modal {
	overflow: visible;
}

.modal-body {
	overflow-y: visible;
}

.addservice2 .loadPrivateProfiles form {
	margin-bottom: 0px;
}

.linkspacer {
	margin: 8px;
}

.threedviewTabs .btn.active, .threedviewTabs .btn:active {
	webkit-box-shadow: none;
	box-shadow: none;
}

.threedview .visualization .panel-body {
	margin-left: 10px;
}

.threedview .visualization label {
}

.threedview .visualization {
	top: 130px;
	text-align: left;
	right: 20px;
	opacity: 0.6;
	z-index: 5000;
	margin: 10px;
	position: fixed;
}

.threedviewTabs label {
	border: 0;
	padding: 10px;
}

table.table-hover tr {
	cursor: pointer;
}

table .btn {
	padding: 1px 5px 1px;
	margin-right: -3px;
}

.accept {
	background-image: url("../img/accept.png");
	background-repeat: no-repeat;
	background-position: right center;
}

.basicserversettings .removeDomainButton {
	margin-left: 5px;
}

.basicserversettings .whiteListedDomainDiv {
	margin-bottom: 3px;
}

.basicserversettings .form-horizontal .control-label {
	width: 250px;
}

.basicserversettings .form-horizontal .controls {
	margin-left: 260px;
}

.statusWrapper {
	position: fixed;
	top: 10px;
	width: 100%;
	text-align: center;
	height: 0px;
}

.status {
	cursor: pointer;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0;
	height: 30px;
	position: relative;
	display: inline-block;
}

.status .message {
	white-space: nowrap;
}

.classpath {
	max-width: 400px;	
}

.error {
	color: red;
}

.success {
	color: green;
}

.running {
	color: blue;
}

label.checkbox {
	cursor: pointer;
}

.progresstd .progress {
	margin-bottom: 2px;
}

table.table tr td span {
	margin-left: 0;
}

.row-fluid span.timespan {
	min-height: 0;	
}

div.setup form.form-horizontal label {
	text-align: left;
}

.uploadStatus {
	word-wrap: break-word;
}

.fullwidth input {
	width: 100%;
}

.fullwidth .controls {
	width: 350px;
}

.mainmenu {
	margin-bottom: 10px;
}

.buttonBar {
	margin-top: 10px;
}

.tab-pane {
	padding-top: 10px;	
}

.my-fluid-container {
	padding: 15px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

div.sidespan > div > ul {
	padding-left: 0px;
}

.projecttree .dropdown {
	position: fixed;
	z-index: 5000;
}

.sidespan .tree ul.rootnode {
	padding-left: 0px;
}

.sidespan .tree ul {
	padding-left: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0;
}

.nav-stacked {
	width: 250px;
	float: left;	
}

.indexStatus {
	margin: 10px;
}

.downloadpopup form {
	margin: 14px;
}

li.treenode {
	padding: 0;
	margin: 0;
	display: block;
}

.treenode .treeicon {
	display: inline-block;
	width: 23px;
	height: 23px;
	border: 0;
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
}

.treenode .treepreicon {
	display: inline-block;
	width: 23px;
	height: 23px;
	border: 0;
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
}

.treenode .treelabel {
	position: relative;
	top: -5px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.treenode.selected > div > a {
	font-weight: bold;
	padding-right: 2px;
	padding-left: 2px;
}

.loading {
	background-image: url("../img/loading.gif");
}

.ball {
	background-image: url("../img/ball.gif");
}

.hierarchy {
	background-image: url("../img/hierarchy.gif");
}

.projecttree .types {
	background-image: url("../img/types.png");
}

.treenodeclosed {
	background-image: url("../img/black_arrow.png");
}

.folder {
	background-image: url("../img/folder.gif");
}

.treenodeclosed:hover {
	background-image: url("../img/blue_arrow.png");
}

.treenodeopen {
	background-image: url("../img/black_arrow_down.png");
}

.treenodeopen:hover {
	background-image: url("../img/blue_arrow_down.png");
}

div#viewport {
	background-color: white;
}

.treelabel a {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.eye {
	cursor: pointer;
	float: right;
	display: inline-block;
	width: 23px;
	height: 23px;
	background-position: center;
	background-repeat: no-repeat;
}

.rightCol {
	padding-left: 5px;
}

.eyeopen {
	background-image: url("../img/eye.png");
}

.eyeclosed {
	background-image: url("../img/eye_bw.png");
}

.eyehalfopen {
	background-image: url("../img/halfeye.png");
}

.sidespanWrapper {
	overflow: auto;
	padding: 0px;
}

.threedview .panel-body {
	padding: 0;
	margin: 0;
}

.table-no-top tbody tr:first-child td {
	border-top: 0px;
}

.types .badge, .classifications .badge, .layers .badge {
	background-color: #DDDDDD;
}

.ih {
	display: none;
}

.threedview .progressbars .waiting {
	opacity: 0.6;
	height: 40px;
	z-index: 5000;
	padding: 10px;
	margin: 10px;
	background-color: #555555;
	border-radius: 5px;
}

.threedview .progressbars .waiting .text {
	color: white;
	padding-bottom: 2px;
}

.threedview .progressbars {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 300px;
}

.threedview .progressdiv {
	opacity: 0.6;
	height: 62px;
	z-index: 5000;
	padding: 10px;
	margin: 10px;
	background-color: #555555;
	border-radius: 5px;
}

.threedview .progressdiv .text {
	color: white;
	padding-bottom: 2px;
}

.underline {
	text-decoration: underline;
}

.tree-dropdown {
	background-image: url("../img/dropdown.png");
	width: 23px;
	height: 23px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	display: inline-block;
}

.projectTabs label {
	border: 0;
	padding: 10px;
}

.projectTabs .btn {
	border-bottom-left-radius: 0;
}

.projectTabs .btn.active, .projectTabs .btn:active {
	webkit-box-shadow: none;
	box-shadow: none;
}

.help {
	position: fixed;
	margin: 10px;
	width: 400px;
}

.startLink {
	color: white;
}

caption {
	text-align: left;
	padding-left: 6px;
	font-size: 140%;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navigator {
	height: 100%;
}