<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.scenejs.StreamingSceneJSSerializerPlugin</implementationClass>
	</PluginImplementation>
</PluginDescriptor>
