<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.serializers.report1.Report1ComponentSerializerPlugin</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.serializers.report1.Report1SystemSerializerPlugin</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.serializers.report1.Report1TypeSerializerPlugin</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.serializers.report1.Report1ZoneSerializerPlugin</implementationClass>
	</PluginImplementation>
</PluginDescriptor>