## Available parameters:
##   name: The user's name
##   username: The user's username (usually e-mail address)
##   validationlink: A link where the user can change his/her password
#parse("inc/header.template")
Dear $name,<br/>

You or someone else has requested your password to be reset, please click the following link to choose a new password: $validationlink<br/>

#parse("inc/footer.template")