## Available parameters:
##   name: The users full name
##   username: The users username (usually e-mail address)
##   password: The users cleartext password
Thank you for registering at bimserver.org.