<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (C) 2009-2013 BIMserver.org
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated models -->
      <package
            uri="geometry"
            class="org.bimserver.models.geometry.GeometryPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///buildingsmart.ifc.ecore"
            class="org.bimserver.models.ifc2x3tc1.Ifc2x3tc1Package"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated models -->
      <package
            uri="http://buildingsmart.ifc4.ecore"
            class="org.bimserver.models.ifc4.Ifc4Package"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="log"
            class="org.bimserver.models.log.LogPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="store"
            class="org.bimserver.models.store.StorePackage"/>
   </extension>

</plugin>
