<?xml version="1.0" encoding="UTF-8" standalone="yes"?><settings><allowSelfRegistration>true</allowSelfRegistration><allowUsersToCreateTopLevelProjects>true</allowUsersToCreateTopLevelProjects><autoTestClashes>false</autoTestClashes><customLogoAddress>http://www.bimserver.org/version/defaultlogo.gif 	</customLogoAddress><databaseLocation>database</databaseLocation><emailSenderAddress>leon@berlotti.com</emailSenderAddress><enabledExportTypes>IFCXML,REPORT_SYSTEMS,CITYGML,REPORT_ZONES,KMZ,O3D_JSON,REPORT_SPACES,COBIE2,COLLADA,REPORT_COMPONENTS,IFC,REPORT_TYPES,OBJECT_INFO,TEXT</enabledExportTypes><intelligentMerging>true</intelligentMerging><registrationAddition></registrationAddition><sendConfirmationEmailAfterRegistration>true</sendConfirmationEmailAfterRegistration><showVersionUpgradeAvailable>true</showVersionUpgradeAvailable><smtpServer>relay.glaslokaal.nl</smtpServer><useCaching>false</useCaching></settings>