<?xml version="1.0" encoding="UTF-8" standalone="yes"?><settings><allowSelfRegistration>false</allowSelfRegistration><allowUsersToCreateTopLevelProjects>true</allowUsersToCreateTopLevelProjects><autoTestClashes>false</autoTestClashes><customLogoAddress>http://www.bimserver.org/version/defaultlogo.gif 	</customLogoAddress><databaseLocation>database</databaseLocation><emailSenderAddress>leon@berlotti.com</emailSenderAddress><enabledExportTypes>OBJECT_INFO,IFCXML,O3D_JSON,TEXT,IFC,COLLADA,CITYGML,KMZ</enabledExportTypes><intelligentMerging>true</intelligentMerging><registrationAddition></registrationAddition><sendConfirmationEmailAfterRegistration>true</sendConfirmationEmailAfterRegistration><showVersionUpgradeAvailable>true</showVersionUpgradeAvailable><smtpServer>relay.glaslokaal.nl</smtpServer><useCaching>false</useCaching></settings>