<?xml version="1.0" encoding="UTF-8" standalone="yes"?><settings><allowSelfRegistration>false</allowSelfRegistration><autoTestClashes>false</autoTestClashes><customLogoAddress>http://www.bimserver.org/version/defaultlogo.gif</customLogoAddress><databaseLocation>database</databaseLocation><emailSenderAddress>no-reply@bimserver.org</emailSenderAddress><enabledExportTypes>CITYGML,COLLADA,IFC,IFCXML,O3D_JSON,OBJECT_INFO,TEXT,KMZ</enabledExportTypes><intelligentMerging>true</intelligentMerging><registrationAddition></registrationAddition><sendConfirmationEmailAfterRegistration>true</sendConfirmationEmailAfterRegistration><showVersionUpgradeAvailable>true</showVersionUpgradeAvailable><smtpServer>smtp.tele2.nl</smtpServer><useCaching>false</useCaching><useSecondEngineJvm>true</useSecondEngineJvm></settings>