<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.demoplugins.service.DemoServicePlugin1</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.demoplugins.service.GuidFixerService</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.demoplugins.service.FurniturePlacerServicePlugin</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.demoplugins.service.DemoServicePlugin2</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.demoplugins.service.DemoServicePlugin3</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.demoplugins.service.CloneService</implementationClass>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.demoplugins.service.SpaceInvadersService</implementationClass>
	</PluginImplementation>
</PluginDescriptor>