<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.ifcengine.IfcEnginePlugin</interfaceClass>
		<implementationClass>org.bimserver.ifcengine.TNOJvmIfcEnginePlugin</implementationClass>
	</PluginImplementation>
</PluginDescriptor>